
.mdc-button:hover{
  background-color: var(--color-secondary);

  .mdc-button__ripple{
    display: none;
  }

  &::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0, 0.06);
  }
}