<section>
  <app-page-title>
    Home
  </app-page-title>
  <app-page-content class="page-content mat-elevation-z2">
    <h2 class="home-subtitle">
      Aplicativo desenvolvido em Angular 16
    </h2>
    <p>
      Este aplicativo foi desenvolvido em Angular 16, utilizando o Angular CLI e o Angular Material.
    </p>
    <ul class="home-list">
      <li>
        O HTML foi desenvolvido de forma semântica e limpa, utilizando as novas
        tags do HTML 5 e seguindo os padrões web.
      </li>
      <li>
        O CSS foi desenvolvido com SaSS ou Less, permitindo a criação de estilos
        reutilizáveis.
      </li>
      <li>
        O aplicativo se integra com o serviço JSONPlaceholder
        (jsonplaceholder.typicode.com).
      </li>
      <li>
        A lógica de programação orientada a objetos foi aplicada e a estruturação
        de módulos/componentes foi realizada no Angular.
      </li>
      <li>
        O roteamento de módulos (Lazy Load) e o padrão Reactive Forms foram
        utilizados na estruturação do Filtro de Busca.
      </li>
      <li>
        Os serviços REST são gerenciados com Observables (RxJS), permitindo um
        adequado gerenciamento de eventEmitters para compartilhar dados nas
        classes de serviços e componentes.
      </li>
      <li>
        A estrutura do HTML é semântica e limpa, explorando as Tags do HTML 5 e
        definindo IDs, classes e atributos data- de forma inteligente.
      </li>
      <li>
        O layout é responsivo e o aplicativo é otimizado para prevenir Memory
        Leaks.
      </li>
      <li>
        O Angular Material pode ser usado para criar componentes de formulário e
        navegação, e também é possível definir atributos reutilizáveis com
        variáveis e pseudo-elementos no SaSS/Less.
      </li>
      <li>
        É possível visualizar os logs armazenados e persistir os dados das ações
        realizadas pelo admin em REST.
      </li>
      <li>
        É possível extrair e aplicar o Logo vetorialmente no projeto e aplicar CSS
        Animations para interações do usuário.
      </li>
      <li>
        Também é possível aplicar um GRID de layout responsivo, usando Bootstrap 4
        ou Angular Material.
      </li>
    </ul>
  </app-page-content>  
</section>
