.page-content{
  margin-top: var(--spacing-16);
  line-height: var(--spacing-24);
}

p{
  margin-bottom: var(--spacing-16);
}

.home-subtitle{
  text-align: center;
  margin-bottom: var(--spacing-16);
}

.home-list{
  padding-left: var(--spacing-16);
}