<section>
  <app-page-title> Home </app-page-title>
  <app-page-content class="page-content mat-elevation-z2">
    <h2 class="home-subtitle center">Bem-vindo ao Projeto de Teste de Desenvolvimento Audsat!</h2>
    <p class="center">
      Teste desenvolvido por <b>Rodrigo Sales Silva</b> em <b>11/05/2023</b>.
    </p>
    <p>
      Este projeto é um teste para a vaga de desenvolvedor front-end na Audsat.
    </p>
    <p>
      Ele consiste em uma aplicação SPA desenvolvida com Angular 16, Angular
      Material e RxJS.
    </p>
    <h3>Requisitos e Funcionalidades</h3>
    <ul class="home-list">
      <li>Roteamento de módulos com carregamento lazy</li>
      <li>Utilização do padrão Reactive Forms para o filtro de busca</li>
      <li>
        Uso de Observables (RxJS) nos serviços REST
      </li>
      <li>Estruturação semântica e limpa do HTML</li>
      <li>Utilização do logo no header</li>
      <li>Utilização das cores pré-estabelecidas</li>
    </ul>

    <h3 class="home-subtitle">Alguns Diferenciais Implementados</h3>
    <ul class="home-list">
      <li>Uso extensivo de componentes standalone do Angular</li>
      <li>Interface desenvolvida com Angular Material</li>
      <li>Animações via CSS e animations</li>
      <li>Carregamento via shimmer para melhor experiência do usuário</li>
      <li>Layout responsivo, seguindo a prática "mobile first"</li>
      <li>Autenticação na área logada através de login</li>
    </ul>

    <h3 class="home-subtitle">Tecnologias Utilizadas</h3>
    <ul class="home-list">
      <li>Angular 16</li>
      <li>Angular Material</li>
      <li>RxJS</li>
    </ul>
  </app-page-content>
</section>
