@use 'abstracts/mixins' as *;
@use 'components/table';

.filter{
  margin-bottom: var(--spacing-16);
  @include media(gt-sm){
    width: 400px;
    max-width: 100%;
  }
}

.loading-container{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-16);
  gap: var(--spacing-16);
}

.mat-mdc-row{
  td{
    @include transition(background-color);
  }
  &:hover{
    cursor: pointer;
    td{
      background-color: var(--color-highlight);
    }
  }
}

.actions-column{
  width: 80px;
}

.actions-cell{
  text-align: right;
}